:root {
    --rojoBorrar: rgb(255, 0, 0);
}

.contenedorCarrito {
    max-width: 900px;
    margin: 30px 200px;
    text-align: center;
}

#carritoContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemCarrito {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--violetaClaro);
    padding: 15px;
    border-radius: 10px;
}

.itemCarrito img, .itemCarrito h3, .itemCarrito p, .itemCarrito button {
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
}
.itemCarrito button{
    padding: 5px 7px;
    border-radius: 5px;
    border-color: var(--rojoBorrar);
    color: var(--rojoBorrar);
    background-color: rgb(255, 247, 247);
    font-family: "Press Start 2P", cursive;
    font-size: x-small;
}
.itemCarrito img {
    width: 100px;
    border-radius: 10px;
}

.itemCarrito h3 {
    flex: 1;
    margin-left: 20px;
    font-family: "Lexend Exa", sans-serif;
}

#totalCarrito {
    font-size: 22px;
    margin-top: 20px;
    font-weight: bold;
    color: black;
}