:root {
    --violetaPrincipal :rgb(100, 47, 150);
    --violetaClaro: rgb(157, 121, 241);
    --violetaOscuro:  #5e319d; /*LO QUE ES LA TECNOLOGIA*/
    
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    /**/
    font-size:small;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, p, #botonConsolas, #botonJuegos, #botonTodo {
    font-size:smaller;
    color: white;
    font-family: "Press Start 2P", cursive;
}
header {
    background-color:var(--violetaPrincipal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*padding: 10px 20px;*/
}
.logoConNombre {
    width: 150px;
    margin: 8px 20px;
}
.botonTema {
    margin: 20px;
}

/*productos header*/
#inputFiltro{
    height: 20px;
    border-radius: 5px;
    padding: 8px;
    /*margin-top: 15px;*/
}


main {
    flex: 1;
    /*;*/
    display: flex;           
    justify-content: center; 
    align-items: flex-start; /*para centrar vertical*/
    /*padding: 20px;*/
}
#entradaLogin {
    padding: 40px 20px;
    background-color: var(--violetaPrincipal);
    flex-wrap: wrap;
    width: 90%;
    display: flex;
    justify-content: center;
    max-width: 450px;
    margin-top: 150px;
}
#entradaLogin h1, #entradaLogin h2 {
    margin-bottom: 20px;
    color: white;
}
#inputNombre {
    width: 80%;
    padding: 15px;
    border-radius: 40px;
    border-color: grey;
    margin-bottom: 20px;
    font-family: "Press Start 2P", cursive;
    font-size: smaller;
}
#botonContinuar {
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Press Start 2P", cursive;
    font-size: smaller;
}


footer {
    background-color: var(--violetaPrincipal);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.logoFooter {
    width: 25px;
    padding-right: 10px;
}

