#contenedorTicket {
    border: 4px solid red;
    margin: 40px auto;
    max-height: 500px;
    width: 600px;

}


.ticketTitulo, #fechaTicket, #numeroPedido, #clienteTicket, #agradecimientoTicket{
    color: black;
    /*border: 5px solid green;*/
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#infoClienteYPedido {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/*ticket*/
#contenedorDeProducto {
    /* contenedor de info por producto, su nombre,subtotal y cantidad*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.descripcionProducto {
    /*esta clase esta con el nombre, cantidad y subtotal*/
    display: flex;
    color: black;
    padding: 4px;
    
}

/*descargar y Finalizar*/
#contenedorBotonesFinalizar {
    text-align: right; /*todo a la derecha*/

}
